### Welcome To Python Programming Language.

##### Learning a programming language should be fun and creative.
##### This tutorial is exactly so: FUN and CREATIVE!
##### And it is specially designed for you Eugene!

In this tutorial, you would be solving a crime at hand using Python code.

As an FBI detective, you would be helping the FBI intercept planned robberies in selected target communities.

Get your detective skills ready, phone or laptop fully charged and let's protect the innocent and terminate the robberies!

Your role in this mission has been categorized into 10 distinct Tasks.

If you follow all the 10 tasks through accurately, the FBI would eventually stop the robbery and arrest the criminals.

And you would be awarded the Honorary Detective Award. Let's get to work!

## Task 1

In [ ]:
The FBI has wired a message to your secured information exchange platform. 

The message contains the names of the targeted communities, thier respective streets and constituent houses.

The message: 
   """FYI. 
      Confirmed Intel shows the following communities have been targeted for robbery tonight.
            Bohyen, Abrepo, Asuofua, Bantama and Junction.
      Create unique code names for these communities. 
      The code names should be made of the first two and last two letters of each community.
      Thus, for Asuofua, the code name would be "Asua".
      Use the code names as the variable names for the communities.
      Also, create unique code names for these streets marked as most susceptible to the robery.
             Bohyen Philadelphia, Bantama Bonsamgyam, Abrepo Bronikrom, Cocoase Junction,
             Bohyen Kotoko Residence, Asuofua Bonsuom, and Abrepo Highways.
      You are required to assign street codes to each of the streets as well,
        the street code should contain the initials and ending letters of the community and street.
        For eg, the code for Asuofua Bonsuom would be AaBm.
        Use the street codes as the variable names for the susceptible streets.

      Store the number of streets in each community marked as a target.
      For eg, number_of_target_streets_in_Bohyen = 2.
      Since operations haven't began, create a variable that ticks all communities with
      security personnel on grounds as FALSE. Thus, once security personnel is deployed to the
      community, the status would be changed to TRUE later.
   """

In [ ]:
In Task 1, we cover the basic principles of Python Programming.
Python is a programming language. Just like there is Twi, English, Hausa, French and many more.
All these languages have their own ways of representing alphabets, numbers and symbols.
The set of alphabets in English is different from that in Twi. 
For instance, English alphabets include "c and z" whilst Twi has no "c and z".
So in learning each language, there's a need to start with how data is represented in it just like
learning English starts with learning A, B, C , D , E ......Z.

In [ ]:
Python Data Types
- Numbers (Integers and Float)
- Strings
- Boolean Operators

In [ ]:
Numbers
A number in Python can be represented as a float or integer.
   - All postive and negative non-decimal numbers are categorised under INTEGERS. E.g., 2, 4567, -89, 1000
      
   - All positive and negative decimal numbers are categorised under FLOAT. E.g., -4.56, 678.01, 4.5

In [ ]:
Hint: You can check whether a number is an integer or float this way, let's say the numbers are 24 and 24.0

In [3]:
type(24)
# int is short for integer

int

In [4]:
type(24.0)

float

In [ ]:
So in Task 1, you are asked to store the number of streets in each community marked as a target.
Thus, you would be using an integer in this case to indicate the number of streets in each commmunity.

In [ ]:
String
  - Any character enclosed in single or double quotes.
  - The character may be a symbol, alphabet or number. Egs, "Friends", '2345', "#rt5", 'relax!'.

In [ ]:
Hint: You can check whether if an item is a string this way, let's say we have this statement, "You are the best" and "24"

In [5]:
type("You are the best!")
# str is short for string

str

In [6]:
type('24')

str

In [ ]:
You will notice that type(24) gave "int" as the data type whereas type("24") returned "str".

Putting any character in single or double quotes changes it to a string data type.

In [ ]:
In Task 1, all the names of the communities and streets would be saved as strings.

In [ ]:
Boolean Operators
  - Boolean is the computer jargon for True or False.

In [ ]:
Hint: Now you are already aware that "type()" is used for checking what kind of Python data type an item or expression is.

In [7]:
type(True)
# bool is short for boolean

bool

In [8]:
type(False)
# bool is short for boolean

bool

In [ ]:
Note, that "True" is different from True just as "False" is different from False

In [11]:
type(True), type("True")

#True is a boolean,
#but putting True in quotes, either 'True' or "True", converts it into a string

(bool, str)

In [12]:
type(False), type("False")

#Likewise False is a boolean,
#but putting False in quotes, either 'False' or "False", converts it into a string

(bool, str)

In [ ]:
In Task 1, you will be marking all the communinities with security personnel as True whereas those without
any security personnel would be marked False.

In [ ]:
Variables
  - A variable is a custom name you give to any data type in Python for easy referencing.
  - You have already gone through the basic Python data types namely, numbers(integer and float), strings, boolean.

In [ ]:
- Assuming you have this statement,
     "I am the best programmer in the world. I build great solutions!"
      This statement is a string since its enclosed in quotes.
      In case you want to send this statement to your 3 best friends, rewriting it each time would be tedious and boring.
      Variables remove the need to rewrite the statement repeatedly 3 times. 
      It allows you to write it just once and send it to all your friends.

In [15]:
# So we can give the statement a variable name.
motivation = "I am the best programmer in the world. I build great solutions!"

In [16]:
# Now, when sending the message to your friends, you just need to send motivation
# and when they click on motivation, they will see the full message, "I am the best programmer in the world. I build great solutions!" display.

motivation

'I am the best programmer in the world. I build great solutions!'

In [ ]:
- Likewise,
  writing a this float, 2333.6883903926527829203 every single time is boring,
  so you can assign it to a variable.

In [13]:
#Let's call the variable, my_float.
my_float = 2333.6883903926527829203

In [14]:
# Now writing my_float then returns the number stored in it
my_float

2333.6883903926528

In [ ]:
- Let's do same for Boolean
  instead of just writing True or False multiple times,
  we will do better.

In [ ]:

Ghana is in Africa is True
USA is in Africa is False
You are a human is True
Computers are not humans is True

So we'll be saving all these with variable names

In [18]:
ghana_in_africa = True
usa_in_africa = False
you_are_human = True
computers_are_not_humans = True

In [19]:
# calling each of these variables would then return their corresponding boolean values
ghana_in_africa

True

In [21]:
usa_in_africa

False

In [22]:
you_are_human

True

In [23]:
computers_are_not_humans

True

In [ ]:
Hint:

Variables can be created in variety of syntax.
In the examples above, the "snake_case" syntax was used

The snake case syntax uses just lowercase for naming the variables. 
If the variable name contains multiple words like, school and group, you put an underscore between forming, school_group.

Likewise for flatcase,
 school_group becomes schoolgroup.
 You just combine both words without any separator.

For camelCase,
  school_group becomes schoolGroup

For PascalCase
  school_group becomes SchoolGroup


snake_case (egs, school_name, age_group)
flatcase (egs, schoolname, agegroup)
camelCase (egs, schoolName, ageGroup)
PascalCase (egs, SchoolName, AgeGroup)

In [ ]:
In Task 1, you are to assign unique codes as variable names to each of the streets, communities, and status of security
personnel deployment. Kindly follow the instruction in the FBI message wired to you to complete this final part of Task 1.